/*---------------------------------------------------------*/
/*----------------- INDEX PAGE ----------------------------*/

/*-- GENERAL --*/
header > p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #8b0000;
    text-align: center;
    margin: 15px;
}

/*-- NAVIGATION BAR --*/
.navbar {
    border: none;
}

ul.navbar-nav {
    text-align: center;
    margin: auto;
}

nav.navbar {
    background-color: #FFE29A;
    padding-bottom: 0;
    margin-bottom: 0;
}

.custom-navbar > div{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #8b0000;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #8b0000;
    background-color: #FFE29A;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover, .dropdown-menu {
    color: #8b0000;
    background-color: #FFE29A;
}

.navbar-inverse .navbar-nav>li>a, .dropdown-menu>li>a {
    color: #8b0000;
    background-color: #FFE29A;
}

.navbar-inverse .navbar-brand {
    color: #8b0000;
    background-color: #FFE29A;
}

/*-- CAROUSEL EFFECT --*/
div.item {
    height: 70%;
    padding-top: 0;
    margin-top: 0;
    padding-right: 10%;
    padding-left: 10%;
}

div.item > img {
    max-width: 100%;
    height: auto;
}

/*-- MAIN FONT OVER CAROUSEL --*/
#shop-name-main > p, #shop-main > a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

#shop-name-main > p {
    font-size: 120px;
    font-weight: bold;
}

#shop-main > a{
    font-size: 50px;
    text-decoration: underline;
}

.main-content {
    text-align: center;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
}

/*-- FOLLOW US SECTION --*/
#follow-us {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    color: #8b0000;
    text-align: center;
    margin-top: 120px;
    font-style: italic;
}

#insta-img {
    height: 300px;
}

/*-- FOOTER MENU --*/
#footer-menu {
    background-color: #F0DFB9;
    min-height: 200px;
    padding: 2%;
    box-sizing: border-box;
    width: 100%;
}

.footer-inner-menu {
    float: left;
    width: 25%;
}

.footer-inner-menu > p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #716957;
}

.shop-policy > li, .shop-info > li, .social-media > li {
    list-style-type: none;
    margin-top: 5%;
}

.shop-policy > li > a, .shop-info > li > a, .social-media > li > a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #716957;
}

footer > p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #716957;
    text-align: center;
    margin: 15px;
}

/*---------------------------------------------------------*/
/*-------------- ABOUT US PAGE ----------------------------*/
.about {
    text-align: center;
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
    margin: 0 auto 10%;
}

#about-title > p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #8b0000;
}

#about-img > img {
    border-radius: 4px;
    width: 500px;
    padding-bottom: 2%;
}

#about-content > p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #716957;
}

#see-our-collection > a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #8b0000;
    text-decoration: underline;
}

/*---------------------------------------------------------*/
/*-------------- CONTACT US PAGE --------------------------*/

.contact {
    text-align: center;
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
    margin: 0 auto 10%;
}

#contact-title > p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #8b0000;
}

#contact-content > p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #716957;
}





